joblib==1.5.0
matplotlib==3.10.1
nltk==3.8.1
numpy==2.2.5
pandas==2.2.3
scikit-learn==1.6.1
seaborn==0.13.2
sentence-transformers==4.1.0
xgboost==3.0.0
imbalanced-learn==0.13.0

# Jupyter notebook support
notebook
ipykernel
